@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  background-color: #FAFAFA;
}

body {
  font-family: 'Instrument Sans', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-cursor {
  caret-color: #633cff;
}

.svg-filter{
  filter: invert(52%) sepia(0%) saturate(19%) hue-rotate(138deg) brightness(86%) contrast(90%);;
}

